Q1

In [2]:
import pandas as pd
df = pd.read_csv("sales_data.csv")
print(df.head())
print(df.isnull().sum())
df.dropna(inplace=True)
print(df.isnull().sum())

   product_id  customer_id product_category customer_segment  sales  discount  \
0          45          772                A                n    NaN       NaN
1          48          532                B                X  899.0  0.009975
2          65          911                B                X  156.0  0.016297
3          68          180                B                Y  695.0  0.053541
4          68          375                B                Y  948.0  0.259404

         date
0  2020-01-01
1  2020-01-02
2  2020-01-03
3  2020-01-04
4  2020-01-05
product_id            0
customer_id           0
product_category      0
customer_segment      0
sales               100
discount             50
date                  0
dtype: int64
product_id          0
customer_id         0
product_category    0
customer_segment    0
sales               0
discount            0
date                0
dtype: int64

Q2

In [5]:
import pandas as pd
df = pd.read_csv("sales_data.csv")
grouped_data = df.groupby(['product_category', 'customer_segment']).agg({'sales': 'sum', 'discount': 'mean'}).reset_index()
grouped_data.rename(columns={'sales': 'total_sales', 'discount': 'Average Discount'}, inplace=True)
print(grouped_data)

   product_category customer_segment  total_sales  Average Discount
0                 A                X     440424.0          0.148002
1                 A                Y     462462.0          0.147228
2                 A                Z     477572.0          0.146314
3                 A                n          0.0          0.102788
4                 B                X     442252.0          0.148204
5                 B                Y     458014.0          0.150827
6                 B                Z     447916.0          0.149887
7                 B                n          0.0          0.186255
8                 C                X     483316.0          0.146352
9                 C                Y     427770.0          0.149936
10                C                Z     442071.0          0.147768
11                C                n          0.0          0.148897
12                D                X     443735.0          0.148648
13                D                Y     454568.0          0.155352
14                D                Z     446105.0          0.148963
15                D                n          0.0          0.077061

Q3

In [13]:
import pandas as pd
df = pd.read_csv("sales_data.csv")
pd_data = pd.DataFrame({
    'product_id': [110, 1115, 120],
    'Product Name': ['product E', 'product G', 'product H'],
    'category': ['category A', 'category B', 'category C']
})
merged_data = pd.merge(df, pd_data, on='product_id', how='left')
print("Merged DataFrame:")
print(merged_data)

Merged DataFrame:
      product_id  customer_id product_category customer_segment  sales  \
0             45          772                A                n    NaN
1             48          532                B                X  899.0
2             65          911                B                X  156.0
3             68          180                B                Y  695.0
4             68          375                B                Y  948.0
...          ...          ...              ...              ...    ...
9995          52          355                C                X  451.0
9996          74          322                B                Y  363.0
9997          38          763                B                X  889.0
9998          26           31                A                X  703.0
9999          46          816                D                Y  149.0

      discount        date Product Name category
0          NaN  2020-01-01          NaN      NaN
1     0.009975  2020-01-02          NaN      NaN
2     0.016297  2020-01-03          NaN      NaN
3     0.053541  2020-01-04          NaN      NaN
4     0.259404  2020-01-05          NaN      NaN
...        ...         ...          ...      ...
9995  0.279545  2047-05-14          NaN      NaN
9996  0.199699  2047-05-15          NaN      NaN
9997  0.163797  2047-05-16          NaN      NaN
9998  0.259372  2047-05-17          NaN      NaN
9999  0.093816  2047-05-18          NaN      NaN

[10000 rows x 9 columns]

Q4